*{
    margin: 0;
    padding-left: 0%;
    box-sizing: border-box;
}
body{
    background-color: white;

}
.navbar1{
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: rgb(95, 168, 111);
    display: flex;
    justify-content: space-around;
    z-index:1 ;
    line-height: 50px;
}
.mai{

   
    
    
    width: 70%;
    height: 400px;
    position:absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,50%);
    background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img1.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 30px rgb(204, 66, 66);
    animation: slider 20s infinite linear;



}
@keyframes slider{
    15%{ background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img2.jpg); }
    35%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img3.jpg); }
    55%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img4.jpg);}
    65%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img5.jpg);}
    75%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img7.jpg);}
    85%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img1.jpg);}

    
}
.slider{
    min-height: 50vh;
   
}
.slider1{
    min-height: 50vh;
}
.mai1{

   
    
    
    width: 70%;
    height: 400px;
    position:absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,50%);
    background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img1.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 30px rgb(104, 179, 209);
    animation: slider1 20s infinite linear;
}
@keyframes slider1{
    15%{ background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img2.jpg); }
    35%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img3.jpg); }
    55%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img4.jpg);}
    65%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img5.jpg);}
    75%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img7.jpg);}
    85%{background-image: url(C:/Users/yogesh/Desktop/HTML.PROJECT/ADD.SELVA/ap22forid/imges/img1.jpg);}

    
}
body{
    background-color: rgb(204, 204, 135);
}
h1{
    text-align: center;
}